<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand custom-light-glow" href="#page-top">Millennium Nails</a>
            <!-- <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link">About</a></li>
                <li class="nav-item"><a class="nav-link">Services</a></li>
            </ul> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <!-- <header class="bg-primary bg-gradient text-white"> -->
    <header class="custom-header">
        <div class="container px-4 text-center custom-dark-glow">
            <h1 class="fw-bolder">Welcome to Millennium Nails</h1>
            <p class="text-white">Let us pamper you!</p>
            <!-- <a class="btn btn-light" href="#about">Start scrolling for more information!</a> -->
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="text-content">
                        <h2>About Us</h2>
                        <p class="lead">At Millennium Nails, we are dedicated to providing you with relaxing and enjoyable nail care services and experienced by our trained staff.</p>
                        <p class="lead">We assure that customers' cleanliness and safety are our utmost importance.</p>
    
                        <ul class="lead">
                            <li>Buffers, files, and pumice are used only once, and then discarded.</li>
                            <li>All pedicure procedures are performed with liner protection.</li>
                            <li>Our tools, equipment, and electrical instruments are always thoroughly cleaned and subjected to an approved sanitizing and disinfecting process before being reused.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid rounded " src="/gallery/homepage.png" alt="yellow nails">
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <!-- <div class="col-lg-8"> -->
                    <h2>Services we offer</h2>
                    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p> -->
                     <p></p>
                <!-- </div> -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#manicure">
                            <img src="/imgs/manicure.jpg" class="img-fluid mb-2 rounded custom-height" alt="Manicure">
                        </a>
                        <h4><a class="nav-link" href="#manicure">Manicure</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#pedicure">
                            <img src="/imgs/pedicure.jpg" class="img-fluid mb-2 rounded custom-height" alt="Pedicure">
                        </a>
                        <h4><a class="nav-link" href="#manicure">Pedicure</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#millennium-combos">
                            <img src="/imgs/combo.jpg" class="img-fluid mb-2 rounded custom-height" alt="Millennium Combos">
                        </a>
                        <h4><a class="nav-link" href="#millennium-combos">Millennium Combos</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#gel">
                            <img src="/imgs/gel.png" class="img-fluid mb-2 rounded custom-height" alt="Gel & Dipping Powder">
                        </a>
                        <h4><a class="nav-link" href="#gel">Gel & Dipping Powder</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#acrylic">
                            <img src="/imgs/acrylic.jpg" class="img-fluid mb-2 rounded custom-height" alt="Image 5">
                        </a>
                        <h4><a class="nav-link" href="#acrylic">Acrylic Fullset</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#kiddy">
                            <img src="imgs/kiddycure.jpg" class="img-fluid mb-2 rounded custom-height" alt="Kiddy-Cures-Under 10">
                        </a>
                        <h4><a class="nav-link" href="#kiddy">Kiddy-Cures Under 10</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#add-on">
                            <img src="/imgs/paraffin.jpg" class="img-fluid mb-2 rounded custom-height" alt="Add-On Services">
                        </a>
                        <h4><a class="nav-link" href="#add-on">Add-On Services</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#wax">
                            <img src="/imgs/waxing.jpg" class="img-fluid mb-2 rounded custom-height" alt="Waxing Hair Removal">
                        </a>
                        <h4><a class="nav-link" href="#wax">Waxing Hair Removal</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <a class="nav-link" href="#drinks">
                            <img src="/imgs/red-wine.png" class="img-fluid mb-2 rounded custom-height" alt="Complimentary Drinks">
                        </a>
                        <h4><a class="nav-link" href="#drinks">Complimentary Drinks</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Price list/ menu section-->
<section id="pricing">
    <div class="container px-3">
        <h2>Pricing</h2>
        <div class="price-list px-3">
            <div class="price-list-content">

                <h3 id="manicure">Manicures</h3>
                <div class="separator"></div>
                <div class="price-item">
                    <span>Express <span>&#40;</span>No Massage<span>&#41;</span></span>
                    <span class="dots"></span>
                    <span>$22</span>
                </div>
                <div class="price-item">
                    <span>Classic</span>
                    <span class="dots"></span>
                    <span>$25</span>
                </div>
                <div class="price-item">
                    <span>Pamper</span>
                    <span class="dots"></span>
                    <span>$30</span>
                </div>
                <div class="price-item">
                    <span>Deluxe</span>
                    <span class="dots"></span>
                    <span>$37</span>
                </div>
                <div class="price-item">
                    <span>Millennium Organic</span>
                    <span class="dots"></span>
                    <span>$40</span>
                </div>
                <div class="price-item">
                    <span>Polish Change Hands</span>
                    <span class="dots"></span>
                    <span>$15</span>
                </div>
            </div>
            <img src="/imgs/manicure.jpg" alt="Manicure" class="price-list-image img-fluid mb-2 rounded">
        </div>

    <div class="price-list px-3">
        <div class="price-list-content">
            <h3 id="pedicure">Pedicure</h3>
            <div class="separator"></div>

            <div class="price-item">
                <span>Express <span>&#40;</span>No Massage<span>&#41;</span></span>
                <span class="dots"></span>
                <span>$32</span>
            </div>
            <div class="price-item">
                <span>Classic</span>
                <span class="dots"></span>
                <span>$35</span>
            </div>
            <div class="price-item">
                <span>Pamper</span>
                <span class="dots"></span>
                <span>$40</span>
            </div>
            <div class="price-item">
                <span>Deluxe</span>
                <span class="dots"></span>
                <span>$50</span>
            </div>
            <div class="price-item">
                <span>Millennium Organic</span>
                <span class="dots"></span>
                <span>$55</span>
            </div>
            <div class="price-item">
                <span>Hot Stone Deluxe</span>
                <span class="dots"></span>
                <span>$65</span>
            </div>
            <div class="price-item">
                <span>Feet Soak <span>&#40;</span>10 mins<span>&#41;</span></span>
                <span class="dots"></span>
                <span>$15</span>
            </div>
            <div class="price-item">
                <span>Polish Change Feet</span>
                <span class="dots"></span>
                <span>$20</span>
            </div>
        </div>
        <img src="/imgs/pedicure.jpg" alt="Pedicure" class="price-list-image img-fluid mb-2 rounded shorter-pedi">
    </div>

    <div class="price-list px-3">
        <div class="price-list-content">
            <h3 id="millennium-combos">Millennium Nails Combos</h3>
            <div class="separator"></div>
            <div class="price-item">
                <span>Classic Mani/Pedi/Combo</span>
                <span class="dots"></span>
                <span>$25/$35/$55</span>
            </div>
            <p class="description">Soak, Nails Trim and Shape, Cuticle Care, Pumice, Massage, Polish</p>
            <div class="price-item">
                <span>Pamper Mani/Pedi/Combo</span>
                <span class="dots"></span>
                <span>$30/$40/$65</span>
            </div>
            <p class="description">Soak, Nails Trim and Shape, Cuticle Care, Pumice + Callus Treatment, Sugar Exfoliation, Mud Rub, Massage, Polish</p>
            <div class="price-item">
                <span>Deluxe Mani/Pedi</span>
                <span class="dots"></span>
                <span>$37/$50</span>
            </div>
            <p class="description">Soak, Nails Trim and Shape, Cuticle Care, Pumice + Callus Treatment, VOESH (Mani/Pedi in a Box), Massage, Paraffin, Polish</p>
            <div class="price-item">
                <span>Millennium Organic Mani/Pedi</span>
                <span class="dots"></span>
                <span>$44/$55</span>
            </div>
            <p class="description">Soak, Nails Trim and Shape, Cuticle Care, Pumice + Callus Treatment, Choice of Exfoliation, Mud Rub, & Deep Tissue Cream Massage (Lavendar, Green Tea, Mango), Paraffin, Hot Towel Wraps, Polish</p>
            <div class="price-item">
                <span>Jelly Hot Stone Deluxe Pedi</span>
                <span class="dots"></span>
                <span>$65</span>
            </div>
            <p class="description">Warm Jelly Soak (Softens Feet & Cracked Heels), Nails Trim and Shape, Cuticle Care, Pumice + Callus Treatment, Gentle Exfoliating Sugar Scrub & Hydrating Clay Mask, Hot Stone Massage, Paraffin, Hot Towel Wraps, Polish</p>
            <div class="price-item">
                <span>Luxury Hot Stone Deluxe Pedi</span>
                <span class="dots"></span>
                <span>$75</span>
            </div>
            <p class="description">Relaxing Salt Soak, Nails Trim and Shape, Cuticle Care, Pumice + Callus Treatment, Gentle Exfoliation w/ Fresh Fruit Massage, Hydrating Clay Mask, Hot Stone & Cnadle Massage, Paraffin, Hot Towel Wraps, Polish. A Very Special Treat for Those Tired Feet.</p>
            <div class="price-item">
                <span>Extra Massage with Any Service <span>&#40;</span>10 mins<span>&#41;</span></span>
                <span class="dots"></span>
                <span>$15</span>
            </div>
        </div>
        <img src="/imgs/combo.jpg" alt="Combos" class="price-list-image img-fluid mb-2 rounded combo">
    </div>



    <div class="price-list px-3">
        <div class="price-list-content">
            <h3 id="gel">Gel & Dipping Powder</h3>
            <div class="separator"></div>
            <div class="price-item">
                <span>Gel Color</span>
                <span class="dots"></span>
                <span>$35</span>
            </div>
            <div class="price-item">
                <span>Gel Mani</span>
                <span class="dots"></span>
                <span>$40</span>
            </div>
            <div class="price-item">
                <span>Gel Removal</span>
                <span class="dots"></span>
                <span>$10</span>
            </div>
            <div class="price-item">
                <span>Dip Powder</span>
                <span class="dots"></span>
                <span>$45</span>
            </div>
            <div class="price-item">
                <span>Dip Powder & Soak-Off</span>
                <span class="dots"></span>
                <span>$50</span>
            </div>
            <div class="price-item">
                <span>Dip Mani & Soak Off</span>
                <span class="dots"></span>
                <span>$60</span>
            </div>
            <div class="price-item">
                <span>Dip with Tips</span>
                <span class="dots"></span>
                <span>$55</span>
            </div>
            <div class="price-item">
                <span>Dip Pink & White with Tips</span>
                <span class="dots"></span>
                <span>$65</span>
            </div>
            <div class="price-item">
                <span>Dip Ombre</span>
                <span class="dots"></span>
                <span>$70</span>
            </div>
            <div class="price-item">
                <span>Dip Ombre with Tips</span>
                <span class="dots"></span>
                <span>$80</span>
            </div>
            <div class="price-item">
                <span>Dip Removal</span>
                <span class="dots"></span>
                <span>$15</span>
            </div>
        </div>
        <img src="/imgs/gel.png" alt="Combos" class="price-list-image img-fluid mb-2 rounded">
    </div>

    <div class="price-list px-3">
        <div class="price-list-content">
            <h3 id="acrylic">Full Sets</h3>
            <div class="separator"></div>
            <div class="price-item">
                <span>Acrylic Full Set</span>
                <span class="dots"></span>
                <span>$45 & Up</span>
            </div>
            <div class="price-item">
                <span>Solar Pink & White</span>
                <span class="dots"></span>
                <span>$64 & Up</span>
            </div>
            <div class="price-item">
                <span>Add Gel Polish</span>
                <span class="dots"></span>
                <span>$20</span>
            </div>
            <div class="price-item">
                <span>Color Acrylic Full Set</span>
                <span class="dots"></span>
                <span>$65 & Up</span>
            </div>
            <div class="price-item">
                <span>Long Nails Shape</span>
                <span class="dots"></span>
                <span>$5</span>
            </div>
            <h3>Fill-Ins</h3>
            <div class="separator"></div>
            <div class="price-item">
                <span>Acrylic Fill-In</span>
                <span class="dots"></span>
                <span>$35 & Up</span>
            </div>
            <div class="price-item">
                <span>Color Acrylic Fill</span>
                <span class="dots"></span>
                <span>$50 & Up</span>
            </div>
            <div class="price-item">
                <span>Solar Pink Fill</span>
                <span class="dots"></span>
                <span>$40 & Up</span>
            </div>
            <div class="price-item">
                <span>Cut Down & Shape</span>
                <span class="dots"></span>
                <span>$10</span>
            </div>
            <div class="price-item">
                <span>Add Gel Polish</span>
                <span class="dots"></span>
                <span>$20</span>
            </div>
        </div>
        <img src="/imgs/acrylic.jpg" alt="Combos" class="price-list-image img-fluid mb-2 rounded shorter-acrylic">
    </div>

    <div class="price-list px-3">
        <div class="price-list-content">
            <h3 id="kiddy">Kiddy-Cures Under 10</h3>
            <div class="separator"></div>
            <div class="price-item">
                <span>Manicure</span>
                <span class="dots"></span>
                <span>$15</span>
            </div>
            <div class="price-item">
                <span>Pedicure</span>
                <span class="dots"></span>
                <span>$25</span>
            </div>
            <div class="price-item">
                <span>Polish</span>
                <span class="dots"></span>
                <span>$10/$12</span>
            </div>
        </div>
        <img src="/imgs/kiddycure.jpg" alt="Kids" class="price-list-image img-fluid mb-2 rounded">
    </div>

    <div class="price-list px-3">
        <div class="price-list-content">
            <h3 id="add-on">Add-On Services</h3>
            <div class="separator"></div>
            <div class="price-item">
                <span>Acrylic Removal</span>
                <span class="dots"></span>
                <span>$20</span>
            </div>
            <div class="price-item">
                <span>Paraffin Wax</span>
                <span class="dots"></span>
                <span>$8</span>
            </div>
            <div class="price-item">
                <span>Nail Repair</span>
                <span class="dots"></span>
                <span>$5 +</span>
            </div>
            <div class="price-item">
                <span>Hot Stone Massage</span>
                <span class="dots"></span>
                <span>$10</span>
            </div>
            <div class="price-item">
                <span>Cut Down & Shape</span>
                <span class="dots"></span>
                <span>$7 - 10</span>
            </div>
        </div>
        <img src="/imgs/paraffin.jpg" alt="Add-On Services" class="price-list-image img-fluid mb-2 rounded">
    </div>

    <div class="price-list px-3">
        <div class="price-list-content">
            <h3 id="wax">Waxing/Hair Removal</h3>
            <div class="separator"></div>
            <div class="price-item">
                <span>Eyebrows</span>
                <span class="dots"></span>
                <span>$15</span>
            </div>
            <div class="price-item">
                <span>Lips</span>
                <span class="dots"></span>
                <span>$10</span>
            </div>
            <div class="price-item">
                <span>Chin</span>
                <span class="dots"></span>
                <span>$15</span>
            </div>
            <div class="price-item">
                <span>SideBurns</span>
                <span class="dots"></span>
                <span>$15+</span>
            </div>
            <div class="price-item">
                <span>Full Face</span>
                <span class="dots"></span>
                <span>$45</span>
            </div>
            <div class="price-item">
                <span>Chest</span>
                <span class="dots"></span>
                <span>$45</span>
            </div>
            <div class="price-item">
                <span>Underarms</span>
                <span class="dots"></span>
                <span>$30</span>
            </div>
            <div class="price-item">
                <span>Back</span>
                <span class="dots"></span>
                <span>$55</span>
            </div>
            <div class="price-item">
                <span>1 Arm/2 Arm</span>
                <span class="dots"></span>
                <span>$25/$40</span>
            </div>
            <div class="price-item">
                <span>1 Leg/2 Leg</span>
                <span class="dots"></span>
                <span>$50/$80</span>
            </div>
            <div class="price-item">
                <span>Bikini</span>
                <span class="dots"></span>
                <span>$35/$50</span>
            </div>
        </div>
        <img src="/imgs/waxing.jpg" alt="Combos" class="price-list-image img-fluid mb-2 rounded">
    </div>

    <div class="price-list px-3">
        <div class="price-list-content">
            <h3 id="drinks">Complimentary Drinks</h3>
            <div class="separator"></div>
            <p>Water</p>
            <p>Orange Juice</p>
            <p>Coke</p>
            <p>Diet Coke</p>
            <p>Chardonnay</p>
            <p>Moscato</p>
            <p>Mimosa</p>
        </div>
        <img src="/imgs/red-wine.png" alt="Wine" class="price-list-image img-fluid mb-2 rounded">
    </div>

    </div>
</section>
<!-- Gallery section-->
<section class="bg-light" id="gallery">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-center">Gallery</h2>
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <!-- <li class="nav-item" role="presentation">
                         <button class="nav-link active" id="one-tab" data-bs-toggle="tab" data-bs-target="#one" type="button" role="tab" aria-controls="one" aria-selected="true">Polish</button>
                    </li> -->
                    <li class="nav-item" role="presentation">
                         <button class="nav-link active" id="two-tab" data-bs-toggle="tab" data-bs-target="#two" type="button" role="tab" aria-controls="two" aria-selected="true">Gel</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="three-tab" data-bs-toggle="tab" data-bs-target="#three" type="button" role="tab" aria-controls="three" aria-selected="false">Powder</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="four-tab" data-bs-toggle="tab" data-bs-target="#four" type="button" role="tab" aria-controls="four" aria-selected="false">Acrylic</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="five-tab" data-bs-toggle="tab" data-bs-target="#five" type="button" role="tab" aria-controls="five" aria-selected="false">Other</button>
                    </li>
                  </ul>

                  <div class="tab-content" id="myTabContent">
                    <!-- <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                        <div class="row">
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/imgs/ok.jpg">
                                    <img src="/imgs/ok.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                        </div>
                    </div> -->

                    <div class="tab-pane fade active show" id="two" role="tabpanel" aria-labelledby="two-tab">
                        <div class="row">
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/hello kitty.jpg">
                                    <img src="/gallery/hello kitty.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/strawberry orange.jpg">
                                    <img src="/gallery/strawberry orange.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/strawberry1.jpg">
                                    <img src="/gallery/strawberry1.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/strawberry2.jpg">
                                    <img src="/gallery/strawberry2.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/orange1.jpg">
                                    <img src="/gallery/orange1.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/orange2.jpg">
                                    <img src="/gallery/orange2.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/winter.png">
                                    <img src="/gallery/winter.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/pink and blue 1.jpg">
                                    <img src="/gallery/pink and blue 1.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/pink and blue 2.jpg">
                                    <img src="/gallery/pink and blue 2.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/pink and blue 3.jpg">
                                    <img src="/gallery/pink and blue 3.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/baseball.png">
                                    <img src="/gallery/baseball.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/halloween.png">
                                    <img src="/gallery/halloween.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/bluewhite.png">
                                    <img src="/gallery/bluewhite.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/pinkflower.png">
                                    <img src="/gallery/pinkflower.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/yellowflower.png">
                                    <img src="/gallery/yellowflower.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/orangeflower.png">
                                    <img src="/gallery/orangeflower.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                        <div class="row">
                            <div class="col-3 mb-4">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/redflower.png">
                                <img src="/gallery/redflower.png" class="img-fluid" alt="Image 1">
                            </a>
                            </div>
                            <div class="col-3 mb-4">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/pinkwhiteombre.png">
                                <img src="/gallery/pinkwhiteombre.png" class="img-fluid" alt="Image 1">
                            </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/pearlwhite.png">
                                    <img src="/gallery/pearlwhite.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/pinkwhite.png">
                                    <img src="/gallery/pinkwhite.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/imgs/pink and white.png">
                                    <img src="/imgs/pink and white.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/purplesesa.png">
                                    <img src="/gallery/purplesesa.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
                        <div class="row">
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/black.png">
                                    <img src="/gallery/black.png" class="img-fluid" alt="Image 1">
                                </a>
                                </div>
                            <div class="col-3 mb-4">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/blackbutterfly.png">
                                <img src="/gallery/blackbutterfly.png" class="img-fluid" alt="Image 1">
                            </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/pinkblack.png">
                                    <img src="/gallery/pinkblack.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/green.png">
                                    <img src="/gallery/green.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/bloodred.png">
                                    <img src="/gallery/bloodred.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/clearred.png">
                                    <img src="/gallery/clearred.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/clearblack.png">
                                    <img src="/gallery/clearblack.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/purple.png">
                                    <img src="/gallery/purple.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/yellow.png">
                                    <img src="/gallery/yellow.png" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="five" role="tabpanel" aria-labelledby="five-tab">
                        <div class="row">
                            <div class="col-3 mb-4">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/gallery/winterdesigns.png">
                                <img src="/gallery/winterdesigns.png" class="img-fluid" alt="Image 1">
                            </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/imgs/millennium nails.jpg">
                                    <img src="/imgs/millennium nails.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                            <div class="col-3 mb-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/imgs/ok.jpg">
                                    <img src="/imgs/ok.jpg" class="img-fluid" alt="Image 1">
                                </a>
                            </div>
                        </div>
                    </div>

                  </div>
            </div>
        </div>
    </div>
  <!-- Modal -->
  <!-- <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" class="img-fluid" id="modalImage" alt="Modal Image">
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img id="modalImage" class="img-fluid" src="" alt="Modal Image">
                <button type="button" (click)="prevImage()" class="prev-btn">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button type="button" (click)="nextImage()" class="next-btn">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
</section>

<!-- </section> -->
    <!-- Contact section-->
<section id="contact">
    <div class="container px-4">
        <div class="row gx-4 align-items-start">
            <!-- Contact Info, Socials, and Business Hours on the Left -->
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <div class="contact-info">
                    <div class="contact-item">
                        <img src="/imgs/address.png" class="contact-image img-fluid mb-2 rounded" alt="address image">
                        <strong class="green-text">1419 Easy Blvd #D, Charlotte, NC 28203</strong>
                    </div>
                    <div class="contact-item">
                        <img src="/imgs/phone.png" class="contact-image img-fluid mb-2 rounded" alt="phone image">
                        <strong class="green-text">704-338-1000</strong>
                    </div>
                    <div class="contact-item">
                        <img src="/imgs/email.png" class="contact-image img-fluid mb-2 rounded" alt="email image">
                        <strong class="green-text">millenniumnailscharlottenc&#64;gmail.com</strong>
                    </div>
                </div>

                <h2>Socials</h2>
                <div class="image-row">
                    <a href="https://www.facebook.com/Millenniumnailsclt/" target="_blank">
                        <img src="imgs/facebook.png" class="img-fluid" alt="Facebook">
                    </a>
                    <a href="https://www.google.com/search?authuser=0&ei=kRFeZsXJOcCm2roPwNSgwQs&gs_lp=Egxnd3Mtd2l6LXNlcnAiFk1pbGxlbm5pdW0gTmFpbHMgMjgyMDMyBBAjGCcyBBAjGCcyBhAAGBYYHjILEAAYgAQYhgMYigUyCxAAGIAEGIYDGIoFMggQABiABBiiBDIIEAAYgAQYogQyCBAAGIAEGKIESL4FUF5Y6AJwAXgAkAEAmAFuoAHOAaoBAzEuMbgBA8gBAPgBAfgBApgCA6AC5wHCAgcQIxiwAxgnwgIQEAAYgAQYsAMYQxjJAxiKBcICDhAAGIAEGLADGJIDGIoFwgINEAAYgAQYsAMYQxiKBcICHBAuGIAEGLADGEMYxwEYyAMYigUYjgUYrwHYAQHCAhkQLhiABBiwAxjRAxhDGMcBGMgDGIoF2AEBwgIUEC4YgAQYsAMYxwEYyAMYrwHYAQHCAgsQLhiABBjHARivAcICBRAAGIAEwgIOEC4YgAQYxwEYjgUYrwHCAgoQABiABBgUGIcCmAMAiAYBkAYUugYGCAEQARgIkgcDMS4yoAfdGg&hl=en&oq=Millennium+Nails+28203&q=Millennium+Nails+28203&sca_esv=03047b03c4b9cd9d&sclient=gws-wiz-serp&sxsrf=ADLYWILGEoo0aaWQrbrCTFLTHSuYCLwApw%3A1717440913949&uact=5&ved=0ahUKEwiF1uT8jcCGAxVAk1YBHUAqKLgQ4dUDCBA" target="_blank">
                        <img src="imgs/google.png" class="img-fluid" alt="Google">
                    </a>
                    <a href="https://www.instagram.com/millenniumnailscharlotte" target="_blank">
                        <img src="imgs/instagram.png" class="img-fluid" alt="Instagram">
                    </a>
                </div>

                <h2>Business Hours</h2>
                <div class="business-hours">
                    <table class="table">
                        <tr>
                            <td><strong>Monday</strong></td>
                            <td>9:00 am - 7:00 pm</td>
                        </tr>
                        <tr>
                            <td><strong>Tuesday</strong></td>
                            <td>9:00 am - 7:00 pm</td>
                        </tr>
                        <tr>
                            <td><strong>Wednesday</strong></td>
                            <td>9:00 am - 7:00 pm</td>
                        </tr>
                        <tr>
                            <td><strong>Thursday</strong></td>
                            <td>9:00 am - 7:00 pm</td>
                        </tr>
                        <tr>
                            <td><strong>Friday</strong></td>
                            <td>9:00 am - 7:00 pm</td>
                        </tr>
                        <tr>
                            <td><strong>Saturday</strong></td>
                            <td>9:00 am - 7:00 pm</td>
                        </tr>
                        <tr>
                            <td><strong>Sunday</strong></td>
                            <td>12:00 pm - 9:00 pm</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Location Widget on the Right -->
            <div class="col-lg-4">
                <div class="location-widget">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13040.877538233053!2d-80.842706!3d35.201004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88569f9767c990a7%3A0x19ff0d0ebcc9a7ae!2sMillennium%20Nails!5e0!3m2!1sen!2sus!4v1721423880629!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; Millennium Nails Charlotte 2024</p>
    </div>
    <!-- <a href="tel:704-338-1000" class="btn-call" title="Call us">test</a> -->

    <!-- <div class="white-text text-center">
        <p id="last-updated">Page last updated on </p> document.lastModified
    </div> -->
</footer>

