<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand custom-light-glow" href="#page-top">Millennium Nails</a>
            <!-- <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link">About</a></li>
                <li class="nav-item"><a class="nav-link">Services</a></li>
            </ul> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <!-- <header class="bg-primary bg-gradient text-white"> -->
    <header class="custom-header">
        <div class="container px-4 text-center custom-dark-glow">
            <h1 class="fw-bolder">Welcome to Millennium Nails</h1>
            <p class="text-white">A functional Bootstrap 5 boilerplate for one page scrolling websites</p>
            <!-- <a class="btn btn-light" href="#about">Start scrolling for more information!</a> -->
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="text-content">
                        <h2>About Us</h2>
                        <p class="lead">At Millennium Nails, we are dedicated to providing you with relaxing and enjoyable nail care services and experienced by our trained staff.</p>
                        <p class="lead">We assure that customers' cleanliness and safety are our utmost importance.</p>
    
                        <ul class="lead">
                            <li>Buffers, files, and pumice are used only once, and then discarded.</li>
                            <li>All pedicure procedures are performed with liner protection.</li>
                            <li>Our tools, equipment, and electrical instruments are always thoroughly cleaned and subjected to an approved sanitizing and disinfecting process before being reused.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid rounded " src="/imgs/pink and white.png" alt="Pink and white powder nails">
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <!-- <div class="col-lg-8"> -->
                    <h2>Services we offer</h2>
                    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p> -->
                     <p></p>
                <!-- </div> -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="/imgs/manicure.jpg" class="img-fluid mb-2 rounded custom-height" alt="Manicure">
                        <h4>Manicure</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="/imgs/pedicure.jpg" class="img-fluid mb-2 rounded custom-height" alt="Pedicure">
                        <h4>Pedicure</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="/imgs/combo.jpg" class="img-fluid mb-2 rounded custom-height" alt="Millennium Combos">
                        <h4>Millennium Combos</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="/imgs/gel.png" class="img-fluid mb-2 rounded custom-height" alt="Gel & Dipping Powder">
                        <h4>Gel & Dipping Powder</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="/imgs/acrylic.jpg" class="img-fluid mb-2 rounded custom-height" alt="Image 5">
                        <h4>Acrylic Fullset</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="imgs/kiddycure.jpg" class="img-fluid mb-2 rounded custom-height" alt="Kiddy-Cures-Under 10">
                        <h4>Kiddy-Cures Under 10</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="/imgs/paraffin.jpg" class="img-fluid mb-2 rounded custom-height" alt="Add-On Services">
                        <h4>Add-On Services</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="/imgs/waxing.jpg" class="img-fluid mb-2 rounded custom-height" alt="Waxing Hair Removal">
                        <h4>Waxing Hair Removal</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="grid-item text-center">
                        <img src="/imgs/wine.jpg" class="img-fluid mb-2 rounded custom-height" alt="Complimentary Drinks">
                        <h4>Complimentary Drinks</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Menu section-->
<section class="bg-light" id="contact">
<div class="service-list">
    <h2 class="service-name" id="millenium_nails">Millennium Nails</h2>
    <div class="service-description"></div>
    <div class="detail-item item 290">
        <div class="detail-price-item">
            <span class="detail-price-name">Acrylic Full Set</span>
            <span class="detail-price-dots"></span>
            <span class="detail-price-number">$40</span>
            <!-- </span> -->
        </div>
    </div>

    <div class="left">Name:</div>
    <div class="right">Engineer</div>
    <div class="dotted"></div>
    <div class="left">Factory location:</div>
    <div class="right">not invoice address</div>
    <div class="dotted"></div>
</div>
</section>
<!-- Gallery section-->
<section id="gallery">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Gallery</h2>
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                         <button class="nav-link active" id="one-tab" data-bs-toggle="tab" data-bs-target="#one" type="button" role="tab" aria-controls="one" aria-selected="true">Polish</button>
                    </li>
                    <li class="nav-item" role="presentation">
                         <button class="nav-link" id="two-tab" data-bs-toggle="tab" data-bs-target="#two" type="button" role="tab" aria-controls="two" aria-selected="false">Gel</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="three-tab" data-bs-toggle="tab" data-bs-target="#three" type="button" role="tab" aria-controls="three" aria-selected="false">Powder</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="four-tab" data-bs-toggle="tab" data-bs-target="#four" type="button" role="tab" aria-controls="four" aria-selected="false">Acrylic</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="four-tab" data-bs-toggle="tab" data-bs-target="#four" type="button" role="tab" aria-controls="four" aria-selected="false">Other</button>
                    </li>
                  </ul>

                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                     insert images
                    </div>
                    <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                        
                    </div>
                    <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                       
                    </div>
                    <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
                       
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
    <!-- Contact section-->
<section class="bg-light" id="contact">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <img src="/imgs/address.png" class="contact-image img-fluid mb-2 rounded" alt="address image">
                <strong class="green-text">1419 Easy Blvd #D, Charlotte , NC 28203</strong>
                <img src="/imgs/phone.png" class="contact-image img-fluid mb-2 rounded" alt="phone image">
                <strong class="green-text">704-338-1000</strong>
                <img src="/imgs/email.png" class="contact-image img-fluid mb-2 rounded" alt="email image">
                <strong class="green-text">millenniumnailscharlottenc&#64;gmail.com</strong>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
            </div>
        </div>
        <h2>Business Hours</h2>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; Millennium Nails Charlotte 2024</p>
    </div>
    <!-- <a href="tel:704-338-1000" class="btn-call" title="Call us">test</a> -->

    <!-- <div class="white-text text-center">
        <p id="last-updated">Page last updated on </p> document.lastModified
    </div> -->
</footer>